:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: Raleway;
  --text-taitle-dark: #212121;
  --tex-taitle-light: #ffffff;
  --accent-color-text: #757575;
  --hover-color: #2196f3;
  --logo-color: #000000;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}
h1 {
  margin: 0px;
}
img {
  display: block;
}
body {
  background-color: var(--tex-taitle-light);
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--accent-color-text);
}

.link {
  text-decoration: none;
  display: block;
}
.list {
  list-style: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*HEADER*/
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-address-list {
  display: flex;
}

.logo {
  margin-right: 85px;
}
.navigation {
  display: flex;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.header-address-item:not(:last-child) {
  margin-right: 50px;
}
.logo-web {
  color: var(--hover-color);
}
.logo {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}
.logo {
  padding-top: 24px;
  padding-bottom: 24px;
}
.navigation-list-link,
.header-address {
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-list-link,
.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-taitle-dark);
}
.link:hover,
.link:focus,
.navigation-list-link:hover,
.navigation-list-link:focus,
.header-tel:hover,
.header-tel:focus,
.header-mail:hover,
.header-mail:focus,
.social-link:hover,
.social-link:focus .customer-link:hover,
.customer-link:focus {
  color: var(--hover-color);
}
.header-tel,
.header-mail {
  font-style: normal;
  color: var(--accent-color-text);
}
/*HERO SECTION*/
.hero {
  display: flex;
  flex-direction: column;
}
.hero-title {
  margin: 0px;
  padding: 0px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--tex-taitle-light);
  margin-bottom: 30px;
  padding-top: 200px;
}
.modal-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--tex-taitle-light);
  background-color: var(--hover-color);
  margin: auto;
  width: 200px;
  height: 50px;
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(/imgages/header/headerimg.jpg);
  background-repeat: no-repeat;
}
.features-list-hero {
  display: flex;
}
.list-hero {
  display: flex;
}
.list-hero-item:not(:last-child) {
  margin-right: 30px;
}
.features-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.icons-hero {
  display: flex;
  width: 70px;
  height: 70px;
}
.list-hero-item {
  margin-top: 30px;
  width: 270px;
  height: 251px;
}
.subtitle-hero {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-taitle-dark);
  margin-bottom: 10px;
}
.description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;

  color: var(--accent-color-text);
  width: 270px;
  height: 75px;
}

/* чем мы занимаемся*/
.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-taitle-dark);
  margin-bottom: 50px;
}

.box-list {
  display: flex;
}
.box-list-item:not(:last-child) {
  margin-right: 30px;
}
.box-list-item {
  width: 370px;
  height: 294px;
}
.description-made {
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--tex-taitle-light);
}
/* о команде*/
.team-list {
  display: flex;
}
.team-foto {
  margin-bottom: 30px;
}
.team {
  margin-bottom: 10px;
}
.position {
  margin-bottom: 16px;
}
.social-link-list {
  display: flex;
  justify-content: center;
}
.social-link-list-item:not(:last-child) {
  margin-right: 10px;
}
.team-list-item:not(:last-child) {
  margin-right: 30px;
}
.team,
.position {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-taitle-dark);
}
.position {
  font-weight: normal;
  color: var(--accent-color-text);
}
.clients-list-item:not(:last-child) {
  margin-right: 30px;
}
.customer-link {
  display: flex;
  justify-content: center;
  align-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
}
.customer-link:hover {
  border-color: var(--hover-color);
  color: var(--hover-color);
}

.clients-list {
  display: flex;
}
/*подвал*/
.footer {
  display: flex;
  background-color: #2f303a;
}
.footer-address {
  padding-left: 214px;
  padding-top: 60px;
  padding-bottom: 161px;
  display: flex;
  flex-direction: column;
  padding-right: 69px;
}
.logo-footer {
  margin-bottom: 20px;
}
.contacts:not(:last-child) {
  margin-bottom: 9px;
}
.logo-footer {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--tex-taitle-light);
}
.footer-social {
  display: flex;
  padding-top: 72px;
  flex-direction: column;
}
.footer-social-link-list {
  display: flex;
  justify-content: center;
  align-content: center;
}
.social-link-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-link-list-item {
  display: flex;
}
.social-link {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 44px;
  height: 44px;
}
.address,
.footer-mail,
.footer-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: var(--tex-taitle-light);
}
.footer-mail,
.footer-tel {
  font-style: normal;
  color: var(--accent-color-text);
}

.footer-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tex-taitle-light);
  margin-bottom: 20px;
}
/*портфолио*/
.filter-list {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.filter-list-item:not(:last-child) {
  margin-right: 9px;
}
.button-filter {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-taitle-dark);
}
.button-filter:hover,
.button-filter:focus {
  background-color: var(--hover-color);
  color: var(--tex-taitle-light);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.element-portfolio {
  width: 370px;
  height: 404px;
  display: block;
  margin-right: 30px;
}
.element-portfolio:nth-child(3n) {
  margin-right: 0px;
}
.portfolio-img {
  margin-bottom: 20px;
}
.title-portfolio {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-taitle-dark);
  margin-bottom: 4px;
}
.subtatle-portfolio {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--accent-color-text);
}
.hover-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--tex-taitle-light);
  width: 322px;
  height: 168px;
}
